@import url("https://fonts.googleapis.com/css?family=Heebo|Roboto&display=swap|Asap&display=swap");

/* globals */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: whitesmoke;
  background-color: #1c1c1a;
  line-height: 1.5;
}

:root {
  /*for titles*/
  --font-heeb: "Heebo", sans-serif;
  /*for descriptions*/
  --font-rob: "Roboto", sans-serif;
  /*for codes*/
  --font-cod: "Asap", sans-serif;
}

section {
  margin-bottom: 1.75em;
}

header {
  font: normal bold 1.35em var(--font-heeb);
  /* font-style: normal;
  font-weight: bold;
  font-size: 1.35em;
  font-family: var(--font-lat); */
  letter-spacing: 0.03em;
  color: white;
  /* margin: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

p,
a {
  font: normal 300 1em var(--font-rob);
  letter-spacing: 0.03em;
  line-height: 1.5em;
  text-decoration: none;
}
a:hover {
  color: #5aaefa !important;
  
}

ul,
ol {
  padding-inline-start: 1.5em;
}

li {
  font: normal 300 1em var(--font-rob);
  letter-spacing: 0.03em;
  line-height: 1.5em;
  margin: 1em;
}

table,
th,
td {
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 98%;
}

th {
  font: normal bold 0.85em var(--font-heeb);
  text-align: left;
  background-color: #415e78;
  color: white;
  letter-spacing: 0.05em;
  padding: 0.85em 1.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

td {
  font: normal 300 1em var(--font-rob);
  background-color: #272726;
  padding: 1em 1.25em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

img {
  max-width: 100%;
  padding: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  border-radius: 5px;
}

/*global classes*/

.container {
  max-width: 95%;
  display: grid;
  grid-gap: 1.25em;
  /* grid-template-columns: 0.25fr 0.75fr; */
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "navbar		main-doc "
    "navbar		main-doc "
    "navbar		main-doc ";
}

.lightbox {
  border-radius: 1px;
  background: #272726;
  border: 1px solid #272726;
  padding: 32px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 16px 0;
  background-color: #232220;
  width: 100%;
  display: flex;
  justify-content: center;
}

.code {
  font: normal 200 0.85em var(--font-cod) !important;
}

.uppercase {
  text-transform: uppercase;
}

/* navbar */

#navbar {
  grid-area: navbar;
  position: fixed;
  min-width: 18.13em;
  top: 0px;
  left: 0px;
  width: 18.75em;
  height: 100%;
  box-shadow: 5px 0px 27px 9px rgba(223, 214, 214, 0.2);
}

#main-doc {
  grid-area: main-doc;
  display: grid;
  padding: 20px;
  margin-left: 18.75em;
  margin-bottom: 50px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
}

#navbar li {
  color: #4d4e53;
  /* border-top: 1px solid; */
  list-style: none;
  width: 100%;
  margin-left: 0 !important;
}

#navbar li:hover {
  margin-left: 0;
  background-color: #dbdbdb;
}

#navbar li a {
  display: block;
  padding: 10px 30px;
  color: #dbdbdb;
  cursor: pointer;
}

.logo {
  background-color: #415e78;
  color: #dbdbdb;
}

.img-logo {
  box-shadow: none !important;
}

.helpful {
  background-color: #272726;
  padding: 1em;
  border-left: 8px solid #415e78;
}

.color {
  color: #415e78;
  font-weight: bold;
}

.text-indent{
  padding-left: 1em;
}

.text-dbindent{
 padding-left: 2em;
}

.text-trindent{
  padding-left: 3em;
 }

/* responsive */

@media (max-width: 690px) {
  body {
    font-size: 15px;
  }
  table,
  th,
  td {
    width: 100%;
  }

  #navbar {
    position: inherit;
    width: 100%;
  }

  #main-doc {
    margin-left: 0px;
  }
  .container {
    max-width: 100%;
    grid-template-areas:
      "navbar	 "
      "main-doc	 "
      "main-doc ";
  }
  .visibility {
    display: none;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 14px;
  }
  
}
